In [2]:
import pandas as pd

# Create a sample DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [6, 7, 8, 9, 10],
    'C': [11, 12, 13, 14, 15]
}
df = pd.DataFrame(data)

# Apply multiple aggregate functions to columns A and B
aggregations = ['mean', 'sum', 'min', 'max']
result = df[['A', 'B']].aggregate(aggregations, axis=0)
result

         A     B
mean   3.0   8.0
sum   15.0  40.0
min    1.0   6.0
max    5.0  10.0