In [1]:
import pandas as pd

# Create a sample DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [6, 7, 8, 9, 10],
    'C': [11, 12, 13, 14, 15]
}
df = pd.DataFrame(data)

# Apply multiple aggregate functions to columns A and B
aggregations = ['mean', 'sum', 'min', 'max']
result = df[['A', 'B']].aggregate(aggregations, axis=0)
result

         A     B
mean   3.0   8.0
sum   15.0  40.0
min    1.0   6.0
max    5.0  10.0

In [2]:
A={'C1':['a','b','c','d','d','d','d','d','d','d'],
   'C2':['a','d','d','d','d','d','d','d','d','d'],
   'C3':['d','d','d','d','d','d','d','d','d','d'],
   'C4':['a','b','c','d','d','d','d','d','d','d']
  }
df = pd.DataFrame(A)
df

  C1 C2 C3 C4
0  a  a  d  a
1  b  d  d  b
2  c  d  d  c
3  d  d  d  d
4  d  d  d  d
5  d  d  d  d
6  d  d  d  d
7  d  d  d  d
8  d  d  d  d
9  d  d  d  d

In [5]:
for col in df.columns:
    print(df[col].value_counts(normalize=True))
    break

C1
d    0.7
a    0.1
b    0.1
c    0.1
Name: proportion, dtype: float64

In [14]:
s = df.apply(lambda col: col.value_counts(normalize=True).max())
low_var_cols = s[s >= 0.9].index.tolist()

low_var_cols

['C2', 'C3']