In [2]:
a = 1, 2
b = 3, 4

a = a + b
a

(1, 2, 3, 4)

In [3]:
a[0] = 2

TypeError: 'tuple' object does not support item assignment

In [8]:
a = [1, 2, 3]

b = a
c = list(a)

In [12]:
a.append(2)
a

[1, 2, 3, 2, 2, 2, 2]

In [13]:
b

[1, 2, 3, 2, 2, 2, 2]

In [14]:
c

[1, 2, 3]

In [20]:


def factorical(n:int) -> int:
    """This function """
    f_ = 1
    if n < 0:
        raise ValueError("Negative numebrs do not have factorical")
    elif n in [0, 1]:
        return f_
    
    else:
        for i in range(1, n+1):
            f_ *= i
        return f_

factorical(5)

120

In [27]:
from functools import reduce
n= 5

# reduce(a+b,)

ls = [i for i in range(1, n+1)]
reduce(lambda a, b:a*b, ls)

120

In [ ]:
"out skirts" -->

In [ ]:
66000 |  
--> Food > 6000
--> Travel > 6000
--> 20
66 -
32 | --> Amount to use 
---
34 | --> Inter Continental Exchange

In [ ]:
rzp.to/hack0n/ideas
rzp.to/hack0n
@hack0n

In [ ]:
SELECT
FROM
WHERE

GROUP BY
HAVING
ORDER BY